* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020);
  --white: #e1e1e1;
  --btn-color: #4b2e83;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-image);
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

.courses-section {
  padding: 40px 0;
}

.courses-box {
  background-color: #f6f3ff;
  border-radius: 20px;
  padding: 40px 30px;
}

.courses-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.text-content {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-content nav a {
  text-decoration: none;
  color: var(--btn-color);
}

.text-content nav {
  font-size: 14px;
  color: var(--btn-color);
  margin-bottom: 60px;
}
.text-content h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.image-content {
  flex: 1 1 45%;
  position: relative;
  display: flex;
  justify-content: center;
}

.stars-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}

.student-img {
  max-width: 100%;
  z-index: 2;
}

.buttons-section {
  padding: 30px 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.buttons button {
  padding: 15px 5px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  width: 180px;
  transition: 0.3s;
}

.buttons button.active {
  background: linear-gradient(90deg, #f75c4e 0%, #ff9472 100%);
  color: #fff;
}

.buttons button:hover {
  background-color: #f2f2f2;
}
.more-btn {
  color: var(--btn-color);
}
@media (max-width: 992px) {
  .stars-img {
    display: none;
  }
  .text-content h1 {
    font-size: 30px;
  }
  .text-card{
    text-align: center;
  }
  .buttons button {
    padding: 15px;
  }
  .buttons {
    justify-content: center;
  }
  .text-content h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 50px;
    color: var(--primary-color);
  }
}
.text-card {
  color: var(--primary-color);
  padding-left: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding: 10px;
  margin: 15px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 270px;
  height: 300px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.card img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 1rem auto;
  object-fit: cover;
}

.card h3 {
  margin: 1rem 0 0.5rem;
}

.card p {
  color: #555;
  font-size: 0.9rem;
}

.card .btn {
  display: inline-block;
  margin-top: 1rem;

  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

.card .btn:hover {
  background-color: var(--btn-color);
  color: var(--white);
}
.more-btn .btn-purple {
  background: var(--btn-color);
  color: var(--white);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
}
.courses-section {
  max-width: 1200px;
  margin: auto;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  width: 70%;

  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.search-input {
  font-size: 16px;
  background-color: transparent;
  outline: none;
  padding-left: 15px;

  border: none;
}

.search-btn {
  border-radius: 6px;
  gap: 5px;
  border: none;
  width: fit-content;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--white);
  background-color: var(--btn-color);
}

.search-btn img {
  width: 20px;
  height: 20px;
}

.sort-select {
  width: 250px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: var(--primary-color);
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  background: var(--white);
  flex: 1 1 400px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
}

.course-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.course-info {
  flex: 1;
}

.course-info h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.price {
  color: #ff4500;
  font-weight: bold;
  margin-top: 5px;
}

.bag-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.pagination .btn-one {
  background-color: #f2e5ff;
  width: 60px;
  height: 30px;
  color: var(--primary-color);
  border: none;
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
}
.pagination .btn-two {
  background-color: #9c4df4;
  width: 60px;
  height: 30px;
  color: var(--white);
  border: none;
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .card {
    width: 85%;
    margin: 0 auto;
  }
  .top-bar {
    flex-direction: column;
    align-items: stretch;
  }
  .search-box {
    width: 100%;
  }

  .sort-select {
    width: 100%;
    padding: 10px;
  }

  .courses-container {
    gap: 8px;
  }

  .course-card {
    flex: 1 1 90%;
    min-width: unset;
    padding: 5px;
    min-height: 80px;
  }

  .course-image {
    width: 35px;
    height: 35px;
  }
}

.newsletter-section {
  padding: 20px 0;
}

.newsletter-box {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 50px 30px;
  color: var(--white);
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.newsletter-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.subscribe-form input {
  flex: 1;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-form button {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  opacity: 0.85;
}

.user-top-left {
  top: 20px;
  left: 60px;
}
.user-top-right {
  top: 20px;
  right: 60px;
}
.user-mid-left {
  top: 45%;
  left: 200px;
}
.user-mid-right {
  top: 45%;
  right: 200px;
}
.user-bottom-left {
  bottom: 40px;
  left: 55px;
}
.user-bottom-right {
  bottom: 40px;
  right: 55px;
}
@media (max-width: 992px) {
  .user-img {
    display: none;
  }
}
