@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020);
  --white: #e1e1e1;
  --btn-color: #4b2e83;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-image);
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

.courses-section {
  padding: 40px 0;
}

.courses-box {
  background-color: #f6f3ff;
  border-radius: 20px;
  padding: 40px 30px;
}

.courses-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.text-content {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-content nav a {
  text-decoration: none;
  color:var(--btn-color);
}

.text-content nav {
  font-size: 14px;
  color: var(--btn-color);
  margin-bottom: 60px;
}
.text-content h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.image-content {
  flex: 1 1 45%;
  position: relative;
  display: flex;
  justify-content: center;
}

.stars-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}

.student-img {
  max-width: 100%;
  z-index: 2;
}
