@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020);
  --white: #e1e1e1;
  --btn-color: #4b2e83;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-image);
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
.course-details {
  padding: 20px 0;
  background-color: #efebf5;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.breadcrumbs {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: #666;
  text-decoration: none;
}

.breadcrumbs span {
  color: var(--btn-color);
}

.course-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.video-section {
  flex: 1;
  min-width: 250px;
}

.video-image {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.video-title {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
}

.playlist-section {
  width: 300px;
}

.playlist-title {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.playlist-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playlist-card {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-card.active {
  background-color: #f5eaff;
}

.playlist-card:hover {
  background-color: #f5eaff;
}

.card-image {
  width: 50px;
  height: 30px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.card-info {
  flex: 1;
}

.card-info h3 {
  font-size: 10px;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.card-info p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 992px) {
  .course-content {
    flex-direction: column;
  }

  .playlist-section {
    width: 100%;
  }

  .video-title {
    font-size: 10px;
  }

  .playlist-title {
    font-size: 20px;
  }
  .video-image {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }
}

@media (max-width: 576px) {
  .video-title {
    font-size: 10px;
  }

  .playlist-title {
    font-size: 18px;
  }

  .card-info h3 {
    font-size: 14px;
  }

  .card-info p {
    font-size: 12px;
  }

  .card-image {
    width: 60px;
    height: 40px;
  }
}

.course-section {
  padding: 40px 0;
}

.course-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15 0px;
}

.Course-Overview {
  flex: 1 1 60%;
  min-width: 280px;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}
.Course-Overview h2 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.Course-Overview p {
  color: #5d5a6f;
  line-height: 1.6;
  margin-bottom: 15px;
}

.Course-Overview h3 {
  font-size: 18px;
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 10px;
}
.Course-Overview ul {
  list-style: none;
  padding: 0;
}

.Course-Overview ul li {
  color: #666;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.Course-Overview ul li::before {
  content: "•";
  color: #ff5733;
  position: absolute;
  left: 0;
}
.sidebar {
  display: flex;
  text-align: center;
  justify-content: start;
  flex: 1 1 30%;
  flex-direction: column;
  max-width: 300px;
  height: 290px;
  padding: 15px;
  margin-top: 65px;
  border-radius: 8px;
  background-color: var(--white);
}

.sidebar p {
  margin: 8px 0;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.sidebar p span {
  font-weight: bold;
  color: var(--primary-color);
}

.sidebar .stars img {
  width: 80px;
  height: auto;
  display: inline-block;
  margin-top: 5px;
}

.sidebar .button {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 18px;
  background-color: var(--btn-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 600px){
  .sidebar {
    display: flex;
    text-align: center;
    justify-content: start;
    flex: 1 1 30%;
    flex-direction: column;
    max-width: 300px;
    height: 290px;
    padding: 15px;
    margin-top: 65px;
    border-radius: 8px;
    background-color: var(--white);
  }
  
  .sidebar p {
    margin: 8px 0;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
  
  .sidebar p span {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .sidebar .stars img {
    width: 50px;
    height: auto;
    display: inline-block;
    margin-top: 5px;
  }
  
  .sidebar .button {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 18px;
    background-color: var(--btn-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
  }

}

@media (max-width: 992px) {
  .Course-Overview h2 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .Course-Overview p {
    line-height: 1.1;
    font-size: 10px;
  }

  .Course-Overview h3 {
    font-size: 15px;
  }
  .sidebar {
    display: block;
    width: 300px;
  }
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  display: flex;
  align-items: center;
  background: var(--white);
  flex: 1 1 400px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
}

.course-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.course-info {
  flex: 1;
}

.course-info h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.price {
  color: #ff4500;
  font-weight: bold;
  margin-top: 5px;
}

.bag-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
@media (max-width: 400px) {
  .courses-container {
    gap: 5px;
  }

  .course-card {
    flex: 1 1 90%;
    min-width: unset;
    padding: 5px;
    min-height: 80px;
  }

  .course-image {
    width: 35px;
    height: 35px;
  }
}

.newsletter-section {
  padding: 20px 0;
}

.newsletter-box {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 50px 30px;
  color: var(--white);
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.newsletter-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.subscribe-form input {
  flex: 1;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-form button {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  opacity: 0.85;
}

.user-top-left {
  top: 20px;
  left: 60px;
}
.user-top-right {
  top: 20px;
  right: 60px;
}
.user-mid-left {
  top: 45%;
  left: 200px;
}
.user-mid-right {
  top: 45%;
  right: 200px;
}
.user-bottom-left {
  bottom: 40px;
  left: 55px;
}
.user-bottom-right {
  bottom: 40px;
  right: 55px;
}
@media (max-width: 992px) {
  .user-img {
    display: none;
  }
}
