/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  padding: 0 15px;
  margin: auto;
  min-width: 1200px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

.footer {
 
  color: #333;
 
}

.footer .container {
 
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.logo-social {
  flex: 1 1 40px;
}

.logo-social span {
  font-size: 24px;
  margin-bottom: 10px;
}

.logo-social p {
  font-size: 14px;
  margin-top: 15px;
  color: #777;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.footer-columns {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-columns .column h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #111;
}

.footer-columns .column ul {
  list-style: none;
  padding: 0;
}

.footer-columns .column ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

📱 Responsive */
/* @media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-columns {
    flex-direction: column;
  }

  .footer-columns .column {
    width: 100%;
  }

  .social-icons a {
    font-size: 16px;
  }
} */
