@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#0A033C ; 
  --bg-color:#cbadf0;
  --white:#FFFFFF;
  --link-size: 16px;
  --text-size:30px;
  ; 
}
body.dark-theme{
  --primary-color: #9C4DF4;  
  --bg-color: #9919b6;  
  --white: #000000;  
}
html {
  scroll-behavior: smooth;
}
