* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
  --link-shadow: rgb(214, 208, 208);
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020);
  --white: #e1e1e1;
  --btn-color: #4b2e83;
  --link-shadow: rgba(50, 50, 50, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-image);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body.dark-theme a {
  color: var(--white);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
.icon,
.icon-vector,
.icon-log {
  height: auto;
  cursor: pointer;
  margin-left: 8px;
  vertical-align: middle;
}

.icon {
  width: 18px;
}
.icon-vector {
  width: 15px;
}
.icon-log {
  width: 30px;
}

header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 999;
  background-image: var(--background-image);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme header {
  background-image: var(--background-image);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-size: 28px;
  font-weight: 700;

  color: var(--primary-color);
}

body.dark-theme header .logo {
  color: var(--white);
}

header nav {
  display: flex;
  align-items: center;
  position: relative;
}

header nav ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav ul li a {
  transition: color 0.3s ease;
}

#menu-icon i {
  font-size: 22px;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease;
}

body.dark-theme #menu-icon i {
  color: var(--white);
}

header a i {
  padding: 0 8px;
}

@media (max-width: 991px) {
  header nav ul {
    position: fixed;
    top: 50px;
    right: 0;
    height: 100vh;
    width: 100%;
    background: var(--background-image);
    flex-direction: column;
    display: none;
    padding-top: 50px;
    z-index: 1000;
    text-align: center;
    transition: all 0.3s ease;
  }

  header nav ul.open {
    display: flex;
  }

  header nav ul li a {
    display: block;
    padding: 5px;
    font-size: 18px;
  }

  #menu-icon i {
    display: block;
  }
}
