@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020); 
  --white: #e1e1e1; 
  --btn-color: #4b2e83; 
  
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-image);
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-text {
  margin-bottom: 20px;
}

.hero-text .tagline {
  background-color: var(--white);
  color: #ff5c5c;
  padding: 5px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-text h1,
.section h1 {
  font-size: 38px;
  color: var(--background-image);
  margin-bottom: 20px;
}

.hero-text p {
  color: #555;
  font-size: 6px;
  margin-bottom: 25px;
  font-size: 11px;
}

.search-box {
  display: flex;
  background-color: var(--white);
  padding: 7px 2px;
  border-radius: 10px;
  width: fit-content;
}

.icon-search {
  width: 13px;
}

.search-box select,
.search-box input {
  border: none;
  outline: none;
  padding: 0 30px;
  font-size: 8px;

}

.search-box button {
  background-color: #7b2eff;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hero-image {
  position: relative;
  text-align: center;
  width: fit-content;
  height: auto;
}
.Kid-student {
  background-image: url(/assets/images/background.png);
  border-radius: 30px;
}

.hero-image img {
  max-width: 60%;
}

.icons {
  position: absolute;
  width: 30px;
  height: auto;
  border-radius: 8px;
}

.icon1 {
  top: 2%;
  left: 0%;
}

.icon2 {
  top: 10%;
  right: 22%;
}

.icon3 {
  bottom: 35%;
  left: 16%;
}

.icon4 {
  bottom: 10%;
  right: 17%;
}
.about {
  text-align: center;
  position: relative;
  padding: 2rem;

  border-radius: 1rem;
  overflow: hidden;
}
.about::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 15%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  background-image: url(/assets/images/Pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.about p {
  font-size: 1rem;
  color: #6b7280;
  max-width: 600px;
  margin: auto auto 1.5rem;
  z-index: 1;
  position: relative;
}
.about button {
  background-color: var(--btn-color);
  color: var(--white);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}
.video-wrapper {
  position: relative;
  background: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin: auto;
  padding: 1rem;
  z-index: 1;
}

.video {
  width: 100%;
  height: auto;
  display: block;
}
.mini-video {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 100px;
  border: 5px solid white;
  border-radius: 0.5rem;
  overflow: hidden;
}
.call-controls {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.call-controls {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}
.counter-box {
  background: var(--white);
  padding: 10px;
  border-radius: 5px;
}
.counter-box img {
  width: 20px;
  height: auto;
}

@media (max-width: 992px) {
  .about h1,
  .hero-text h1,
  .promo-section h1 {
    font-size: 1.5rem;
  }
  .mini-video,
  .call-controls,
  .promo-icon,
  .user-img {
    display: none;
  }



  .search-box select,
.search-box input {
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 8px;

}
  .about::after {
    display: none;
  }
  .search-box {
    padding: 2px;
  }
}

.lessons-section {
  text-align: center;
}

.header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.header p {
  color: #777;
  max-width: 600px;
  margin: 0 auto 1.5rem;
}

.tabs {
  margin-bottom: 2rem;
}

.tabs button {
  margin: 0 0.5rem;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button {
  background-color: var(--background-color);
}
.tabs .active {
  background: #ff715b;
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .card {
    width: 80%;
    margin: 0 auto;
  }
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 300px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.card img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 1rem auto;
  object-fit: cover;
}

.card h3 {
  margin: 1rem 0 0.5rem;
}

.card p {
  color: #555;
  font-size: 0.9rem;
}

.card .btn {
  display: inline-block;
  margin-top: 1rem;

  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

.card .btn:hover {
  background-color: var(--btn-color);
  color: var(--white);
}
.more-btn .btn-purple {
  background: var(--btn-color);
  color: var(--white);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
}

.promo-section {
  padding: 60px 0;
}

.promo-box {
  padding: 40px;
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.promo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.text-area {
  max-width: 500px;
}

.level {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  background: #dccefb;
  color: #8260cb;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-color);
  line-height: 1.4;
}

p {
  font-size: 14px;
  color: #4a5568;
  margin-bottom: 20px;
}

.register-btn {
  background-color: var(--btn-color);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.image-area {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.main-img {
  width: 100%;
  border-radius: 10px;
}

.promo-icon {
  position: absolute;
  width: 60px;
  height: 60px;
}

.promo-icon.html {
  top: 30%;
  left: 10%;
}

.promo-icon.php {
  top: 5%;
  right: 10%;
}

.promo-icon.java {
  top: 0;
  right: 35%;
}

.mentor-section {
  padding: 50px 0;
}

.mentor-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.image-container {
  width: 300px;
  height: 300px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  max-width: 500px;
}

.text-content h2 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.text-content p {
  color: #6e6b8d;
  margin-bottom: 30px;
}

.text-content .btn {
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.newsletter-box {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 50px 30px;
  color: var(--white);
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.newsletter-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.subscribe-form input {
  flex: 1;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-form button {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  opacity: 0.85;
}

.user-top-left {
  top: 20px;
  left: 60px;
}
.user-top-right {
  top: 20px;
  right: 60px;
}
.user-mid-left {
  top: 45%;
  left: 200px;
}
.user-mid-right {
  top: 45%;
  right: 200px;
}
.user-bottom-left {
  bottom: 40px;
  left: 55px;
}
.user-bottom-right {
  bottom: 40px;
  right: 55px;
}
