* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020);
  --white: #e1e1e1;
  --btn-color: #4b2e83;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-image);
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}

.courses-section {
  padding: 40px 0;
}

.courses-box {
  background-color: #f6f3ff;
  border-radius: 20px;
  padding: 40px 30px;
}

.courses-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.text-content {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-content nav a {
  text-decoration: none;
  color: var(--btn-color);
}

.text-content nav {
  font-size: 14px;
  color: var(--btn-color);
  margin-bottom: 60px;
}
.text-content h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.image-content {
  flex: 1 1 45%;
  position: relative;
  display: flex;
  justify-content: center;
}

.card {
  padding: 20px 0px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.wihte {
  background-color: var(--white);
}
.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: var(--primary-color);
}

.card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  margin-bottom: 10px;
}

.rating .star {
  width: 15px;
  height: 15px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  font-size: 16px;
}

.pagination button {
  background-color: var(--btn-color);
  color: var(--white);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #dbc7ff;
}

.pagination span {
  color: var(--primary-color);
}

.newsletter-section {
  padding: 20px 0;
}

.newsletter-box {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 50px 30px;
  color: var(--white);
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.newsletter-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.subscribe-form input {
  flex: 1;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-form button {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  opacity: 0.85;
}

.user-top-left {
  top: 20px;
  left: 60px;
}
.user-top-right {
  top: 20px;
  right: 60px;
}
.user-mid-left {
  top: 45%;
  left: 200px;
}
.user-mid-right {
  top: 45%;
  right: 200px;
}
.user-bottom-left {
  bottom: 40px;
  left: 55px;
}
.user-bottom-right {
  bottom: 40px;
  right: 55px;
}

@media (max-width: 992px) {
  .user-img {
    display: none;
  }
  .stars-bg {
    display: none;
  }
  .search-box select,
  .search-box input {
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 8px;
  }
  .about::after {
    display: none;
  }
  .search-box {
    padding: 2px;
  }
}
