* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0a033c;
  --background-image: linear-gradient(to right, #f5eaff, #e8d8ff, #dbc7ff);
  --white: #ffffff;
  --btn-color: #7b2eff;
}

body.dark-theme {
  --primary-color: #d07efde5;
  --background-image: linear-gradient(to right, #3c2a66, #2a1b47, #141020);
  --white: #e1e1e1;
  --btn-color: #4b2e83;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-image);
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
.book-shop {
  width: 80%;
  background-color: #efebf5;
  border-radius: 20px;
  margin: 40px auto;
}

.container.book-shop {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.breadcrumbs {
  font-size: 14px;
  margin-bottom: 20px;
}
.breadcrumbs a {
  color: var(--btn-color);
}
.Rating-Stars {
  margin-left: 150px;
  top: 100px;
}

.breadcrumbs span {
  color: var(--btn-color);
}

.text-content {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}
.book-shop-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.heading {
  font-size: 35px;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 1.6;
  letter-spacing: 1px;
  margin-left: 190px;
}

.image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.instructor-requirements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.requirements img {
  width: 10px;
  height: 10px;
  margin: 3px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
}

.image-section img {
  width: 80%;
}

.content-section {
  margin-top: 30px;
}
.content-section p {
  color: #7f7c94;
  letter-spacing: 1.2px;
}

.content-section h1 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 35px;
  padding: 10px;
}
.content-section h3 {
  color: #ff6652;
  padding: 15px 0;
  font-size: 15px;
}
.content-section span {
  color: #5d5a6f;
  padding-left: 20px;
}
.requirements {
  line-height: 30px;
  padding: 10px 0;
  margin-left: 5px;
}
ul {
  color: var(--primary-color);
}

.btn{
  background-color: var(--btn-color);
  border: none;
  padding: 15px;
  border-radius: 8px;
  color: var(--white);
}

.apply-section {
  padding: 20px 0px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.stars-bg {
  position: absolute;
  top: -90px;
  right: -70px;
  z-index: 0;
  width: 150px;
}

.background {
  position: absolute;
  border-radius: 20px;
}

.grey-bg {
  background-color: #ebeaf4;
  width: 96%;
  height: 96%;
  bottom: 0;
  left: 2%;
  z-index: 1;
}

.white-bg {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.main-image {
  position: relative;
  width: 100%;
  z-index: 2;
  border-radius: 20px;
}

.newsletter-section {
  padding: 20px 0;
}

.newsletter-box {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 50px 30px;
  color: var(--white);
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.newsletter-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.subscribe-form input {
  flex: 1;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-form button {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  opacity: 0.85;
}

.user-top-left {
  top: 20px;
  left: 60px;
}
.user-top-right {
  top: 20px;
  right: 60px;
}
.user-mid-left {
  top: 45%;
  left: 200px;
}
.user-mid-right {
  top: 45%;
  right: 200px;
}
.user-bottom-left {
  bottom: 40px;
  left: 55px;
}
.user-bottom-right {
  bottom: 40px;
  right: 55px;
}

@media (max-width: 992px) {
  .user-img {
    display: none;
  }
  .stars-bg {
    display: none;
  }
  .search-box select,
  .search-box input {
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 8px;
  }
  .about::after {
    display: none;
  }
  .search-box {
    padding: 2px;
  }

  .heading {
    margin: 0 auto;
    font-size: 25px;
    font-weight: 300;
  }
  .Rating-Stars {
    display: none;
  }
  .book-shop-content {
    justify-content: center;
  }
  .image-section img {
    width: 100%;
  }
}
